<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @vstruct.label %>
</p>

<p>
  <strong>Streaming fname:</strong>
  <%= @vstruct.streaming_fname %>
</p>

<p>
  <strong>Digitization notes:</strong>
  <%= @vstruct.digitization_notes %>
</p>

<p>
  <strong>Status:</strong>
  <%= @vstruct.status %>
</p>

<%= link_to 'Edit', edit_vstruct_path(@vstruct) %> |
<%= link_to 'Back', vstructs_path %>
